npm install express ejs express-session connect-flash passport passport-local bcryptjs body-parser mysql2
npm install nodemailer crypto
npm install method-override
npm i mammoth xlsx
node app.js #running website
